{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue !</h1>

<a href="/category">Catégories de séries</a>

<br><br>

<a href="/category/new">Ajouter une catégorie</a>

<br><br>

<a href="/program/new">Ajouter une série</a>

{% endblock %}